.borde {
    border: 1px #000 solid;
    text-align: center;
    height: 50px;
}

.footer_ {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;

}

.slider{
    /*background: url("../img/img_weather.jpg");*/
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.margint {
    margin-top: 50px !important;
    padding-top: 50px;

}

.margint-59 {
    margin-top: 59px !important;
    padding-top: 50px;

}

.marginr {
    margin-right: 30px !important;
}

.marginr-2 {
    margin-right: 20px !important;
}

.colorpropio{
    color: white !important;
    margin: 10px;
}

.marginb-0{
    margin-bottom: 0 !important;
}

.texts{
    margin: 10%;

}

