
<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">

    {% if title %}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
</head>

<body>
<script src="{% static 'core/js/jquery-3.4.1.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="{% static 'core/js/bootstrap.js'%}"></script>

<!--<div id="nav-placeholder">

</div>

<script>
    $(function () {
        $("#nav-placeholder").load("navbar.html");
    });
</script>-->


<!--Codigo de Login-->
<form method="post" action="../">
    <div class="login-container">
        <div class="inner-container">
            <video
                    src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4"
                    type="{% static 'core/video/mp4' %}" class="container-video-bg" autoplay loop muted>

            </video>
            <div class="login-box">
                <h1><span>WeWeather</span></h1>
                <h2> LOGIN </h2>
                <input type="text" placeholder="Usuario">
                <input type="password" placeholder="Contraseña">

                <button type="submit">CONECTAR</button> {% csrf_token %}
                <p>¿No estas registrado? <span>Registrate</span></p>
                <span><a href="{% url 'password_reset'%}">Password olvidada, recuperala</a></span>


            </div>

        </div>

    </div>

</form>
</body>
</html>